<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>A Key Value Store!</title>
</head>
<body>
<a href="/" style="margin-right: 20px;">Home</a>
<a href="/list" style="margin-right: 20px;">All</a>
<a href="/change" style="margin-right: 20px;">Change</a>
<a href="/insert" style="margin-right: 20px;">Insert</a>

  {{if .Success}}<h1>Element inserted!{{else}}
  <h1>Please fill in the fields:</h1>
  <form method="POST">
    <label>Key:</label><br />
    <input type="text" name-"key"><br />

    <label>Name:</label><br />
    <input type="text" name-"name"><br />

    <label>Surname:</label><br />
    <input type="text" name-"surname"><br />


    <label>ID:</label><br />
    <input type="text" name-"id"><br />

    <input type="submit">
  </form>
  {{end}}
</body>
</html>
